<header style="position: sticky; top: 0; z-index: 5;" *transloco="let t;">
  <mat-toolbar>
    <mat-toolbar-row>
      <button [disabled]="generateShoppingListDisabled" mat-raised-button color="primary" (click)="generateShoppingList()">
        {{ t("GENERATE_SHOPPING_LIST") }}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <form>
    <mat-form-field class="search-field" flex>
      <mat-label>{{ t('SEARCH') }}</mat-label>
      <input
        matInput
        [placeholder]="t('SEARCH_PLACEHOLDER')"
        [(ngModel)]="searchString"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Search"
        (click)="searchRecipes()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <mat-paginator
    #paginator
    hidePageSize="true"
    (page)="handlePageEvent($event)"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="totalRecords"
  >
  </mat-paginator>
</header>

@for (recipe of recipes; track recipe.id) {
<app-recipe-card
  [recipeCardInfo]="recipe"
  (recipeSelected)="handleRecipeSelected($event)"
></app-recipe-card>
}
