<button mat-button (click)="addMealPlanBtnClicked()">Add Meal Plan</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let mealplan"> {{ mealplan.id }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let mealplan"> {{ mealplan.name }} </td>
  </ng-container>

  <!-- Notes Column -->
  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef> Notes </th>
    <td mat-cell *matCellDef="let mealplan"> {{ mealplan.notes }} </td>
  </ng-container>

  <!-- Link Column -->
  <ng-container matColumnDef="link" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let mealplan">
      <a mat-icon-button [routerLink]="[ '/', 'mealplans', mealplan.id ]" routerLinkActive="active">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
