<mat-card class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{ recipeCardInfo.name }}</mat-card-title>
      <button
        mat-fab
        color="{{ recipeCardInfo.isSelected ? 'primary' : 'accent' }}"
        (click)="recipeCardInfo.isSelected = !recipeCardInfo.isSelected"
      >
        <mat-icon>{{
          recipeCardInfo.isSelected ? "playlist_add_check" : "playlist_add"
        }}</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="recipe-instructions">
        <p>{{ recipeCardInfo.instructions }}</p>
      </div>
  
      <div class="recipe-ingredients">
        <h4>
          Ingredients
          <button
            mat-icon-button
            (click)="recipeCardInfo.showIngredients = !recipeCardInfo.showIngredients"
          >
            <mat-icon>{{
              recipeCardInfo.showIngredients ? "unfold_more" : "unfold_less"
            }}</mat-icon>
          </button>
        </h4>
        <ul
          [ngClass]="{
            'ingredient-expanded': recipeCardInfo.showIngredients,
            'ingredient-collapsed': !recipeCardInfo.showIngredients
          }"
        >
          @for (ingredient of recipeCardInfo.ingredients; track ingredient) {
          <li>
            {{ ingredient.name }} - {{ ingredient.quantity }}
            {{ ingredient.unit }}
          </li>
          }
        </ul>
      </div>
    </mat-card-content>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
  </mat-card>
  