table {
    width: 100%;
    margin: 20px 0;
    .mat-row.removed {
        text-decoration: line-through;
    }
    .mat-column-action {
        button {
            float: right;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;

    mat-form-field {
        display: block;
        margin: 4px;
    }
}

.mat-column-select {
    overflow: initial;
}

// just a silly hack to stop clicking
// this doesn't stop keyboard navigation
// TODO: Handle this better later
:host ::ng-deep {
    .mat-step-header {
        pointer-events: none !important;
    }
}
