<mat-horizontal-stepper linear="true" #stepper>
  <mat-step [completed]="recipeSelectionStepComplete">

    <ng-template matStepLabel>Select Recipes</ng-template>

    <table mat-table [dataSource]="recipeDataSource" class="mat-elevation-z2">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? recipeSelection.toggle(row) : null"
            [checked]="recipeSelection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let recipe"> {{ recipe.id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let recipe"> {{ recipe.name }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedRecipeColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedRecipeColumns;" (click)="recipeSelection.toggle(row)"></tr>
    </table>

    <button mat-button matStepperNext [disabled]="!recipeSelectionStepComplete">Next</button>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Review Ingredients</ng-template>

    <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Finalize</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>