<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<main class="main">
  <mat-toolbar color="primary">
    <span>{{ 'RECIPECATE' | translate }}</span>
  </mat-toolbar>

  <router-outlet />

  <footer>
    <div class="language-selector">
      <mat-form-field>
        <mat-label>{{ "SELECT_LANGUAGE" | translate }}</mat-label>
        <mat-select (selectionChange)="switchLanguage($event.value)">
          <mat-option value="en">English</mat-option>
          <mat-option value="fr">French</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </footer>
</main>
