<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<main class="main" *transloco="let t;">
  <mat-toolbar color="primary">
    <span>{{ t('RECIPECATE') }}</span>
  </mat-toolbar>

  <router-outlet />

  <footer>
    <div class="language-selector">
      <mat-form-field>
        <mat-label>{{ t("SELECT_LANGUAGE") }}</mat-label>
        <mat-select [value]="selectedLanguage" (selectionChange)="switchLanguage($event.value)">
          <mat-option value="en">English</mat-option>
          <mat-option value="fr">French</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </footer>
</main>
