<button mat-button color="primary" (click)="addRecipeBtnClicked()">Add Recipe</button>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="recipesDataSource" class="mat-elevation-z2">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let recipe"> {{ recipe.id }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let recipe"> {{ recipe.name }} </td>
  </ng-container>

  <!-- Link Column -->
  <ng-container matColumnDef="link" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let recipe">
      <a mat-icon-button [routerLink]="[ '/', 'recipes', recipe.id ]" routerLinkActive="active">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>