/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'Roboto', sans-serif;
}

[mat-dialog-title] {
    display: flex !important;
    justify-content: space-between;
    align-content: center;
    >h3 {
        margin: 0;
        line-height: 1.8em;
    }
}